body 
{
	padding-left: 1em;
    padding-right: 20em;
	font-family:Calibri;
    font-size: 18px;
    color: #000000; 
    background-color: white;
    text-align: justify;
}

p.a 
{
    font-family:Calibri;
    font-size: 18px;
    color: #000000;
    font-style: italic;
}

hr.divide1
{
    border: 3px solid #267196;
}

hr.divide2 
{
    border-top: 1px dashed blue;
}

h1 
{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    Color: #050505;
}

h2 
{
    font-family: Arial;
    font-size: 25px;
    Color: #333333;
}

h3 
{
    font-family: Arial;
    font-size: 20px;
    Color: #575757;
}

.pro
{
    border: 2px outset #96c4d6;
    background-color: #d3e9f2;
    padding-left: 15px;    
    
}


a:link 
{
    color: blue;
}

a:visited 
{
    color: purple;
}



progress::-moz-progress-bar
{ 
    background-color: #267196;
} 


